[defaults]
collections_path=/workspace/collections:/workspace/collections/ansible_collections
debug=True
remote_user='root'
roles_path=/workspace/roles
deprecation_warnings=True
retry_files_enabled=False
keep_remote_files=True

[connection]
pipelining=False
